/* -----------------------------------------------------------------------------------

	WOOCOMMERCE SPECIFIC STYLES

-------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X. Fonts
/* -------------------------------------------------------------------------------- */


@font-face {
	font-family: 'WooCommerce';
	src: url('../../../../plugins/woocommerce/assets/fonts/WooCommerce.eot');
	src: url('../../../../plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('../../../../plugins/woocommerce/assets/fonts/WooCommerce.woff') format('woff'),
		url('../../../../plugins/woocommerce/assets/fonts/WooCommerce.ttf') format('truetype'),
		url('../../../../plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* -------------------------------------------------------------------------------- */
/*	X. Shared Styles
/* -------------------------------------------------------------------------------- */


/* Star Rating ----------------------------- */


.star-rating {
    float: right;
    font-family: 'WooCommerce' !important;
    font-size: 14px;
    height: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    width: 5.4em;
}

.star-rating:before {
    color: #D1D1D5;
    content: '\e020\e020\e020\e020\e020';
    float: left;
    letter-spacing: inherit;
    position: absolute;
        left: 0;
        top: 0;
}

.star-rating span {
    float: left;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
        left: 0;
        top: 0;
}

.star-rating span::before {
    color: #111;
    content: '\e020\e020\e020\e020\e020';
    letter-spacing: inherit;
    position: absolute;
        left: 0;
        top: 0;
}


/* Breadcrumbs ----------------------------- */


.breadcrumbs {
    color: #99999E;
    font-size: 14px;
    font-weight: 500;
}

.breadcrumbs .seperator {
    background: url( ../svg/chevron-right-black.svg ) no-repeat center;
    background-size: auto 8px;
    display: inline-block;
    height: 8px;
    margin: 0 12px;
    opacity: 0.4;
    width: 5px;
}

.breadcrumbs a {
    color: inherit;
    display: inline-block;
}


/* WC Tabs ----------------------------- */

.woocommerce-tabs {
    display: flex;
}

.woocommerce-tabs .panel {
    width: 100%;
}

.woocommerce-tabs .panel h2 {
    font-size: 28px;
    margin: 0 0 20px;
}

/* TABS NAVIGATION */

.wc-tabs {
    flex-shrink: 0;
    margin-right: 50px;
    width: 220px;
}

.wc-tabs li {
    border-top: 1px solid #e1e1e5;
}

.wc-tabs li:last-child {
    border-bottom: 1px solid #e1e1e5;
}

.wc-tabs a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 10px 22px;
    position: relative;
    width: 100%;
}

.wc-tabs a:after {
    background: url( ../svg/chevron-right-black.svg ) no-repeat center;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
        top: calc( 50% - 10px );
        right: 10px;
    transition: all .15s linear;
    width: 20px;
}

.wc-tabs .active a,
.wc-tabs a:hover {
    opacity: .5;
    text-decoration: none;
}


/* Widget Cart ----------------------------- */


.woocommerce-mini-cart-item {
    font-size: 14px;
    min-height: 50px;
    padding: 8px 0 8px 62px;
    position: relative;
}

.woocommerce-mini-cart-item + .woocommerce-mini-cart-item {
    margin-top: 12px;
}

.woocommerce-mini-cart-item a:not(.remove) {
    font-weight: 500;
}

.woocommerce-mini-cart-item img {
    border-radius: 2px;
    position: absolute;
        left: 0;
        top: 0;
    width: 50px;
}

.woocommerce-mini-cart-item .quantity {
    color: #99999E;
    display: block;
    margin: 6px 0 0;
}

.woocommerce-mini-cart-item .remove {
    font-size: 24px;
    position: absolute;
        right: 0;
        top: 50%;
    transform: translateY( -50% );
}

.woocommerce-mini-cart-item .remove:hover {
    text-decoration: none;
    transform: translateY( -50% ) scale( 1.25 );
}

.widget_shopping_cart_content .total {
    border-top: 1px solid #e1e1e5;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 0 0 62px;
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons {
    background: #F5F5F7;
    display: flex;
    margin: 20px -16px -15px;
    padding: 15px 16px;
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons a {
    padding: 13px 15px;
    width: 100%;
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons a + a {
    margin-left: 10px;
}


/* -------------------------------------------------------------------------------- */
/*	X. Notifications
/* -------------------------------------------------------------------------------- */


.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    background: #111;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
    padding: 20px 200px 21px 25px;
    position: relative;
}

.woocommerce-message strong,
.woocommerce-error strong, 
.woocommerce-info strong {
    font-weight: 500;
}

/* MESSAGE SPECIFIC */

.woocommerce-message a.button {
    background: none;
    border: 2px solid rgba( 255, 255, 255, .2 );
    margin: 0;
    max-width: 140px;
    padding: 11px 20px;
    position: absolute;
        right: 20px;
        top: 50%;
    transform: translateY( -50% );
    transition: all .15s linear;
}

.woocommerce-message a:hover {
    opacity: 1;
    background: rgba( 255, 255, 255, .2 );
    border-color: transparent;
}

/* ERROR SPECIFIC */

.entry-content .woocommerce-error {
    list-style: none;
    margin-left: 0;
}

.entry-content .woocommerce-error li {
    margin: 0;
}

.entry-content .woocommerce-error li + li {
    margin-top: 10px;
}

/* INFO SPECIFIC */


/* -------------------------------------------------------------------------------- */
/*	X. Product Archive
/* -------------------------------------------------------------------------------- */


/* Products Header ----------------------------- */


.post-type-archive-product #site-content .section-inner {
    position: relative;
}

.woocommerce-result-count {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 60px;
}

.woocommerce-ordering {
    position: absolute;
        right: 0;
        top: -11px;
    width: 220px;
}


/* Products Grid ----------------------------- */


ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 -60px -40px;
}

.products li {
    margin: 0 0 60px 40px;
    position: relative;
    width: calc( 25% - 40px );
}


/* Product Preview ----------------------------- */


li.product a {
    display: block;
}

li.product a:hover {
    text-decoration: none;
}

.onsale {
    align-items: center;
    background: #111;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    position: absolute;
        right: -10px;
        top: 10px;
    width: 60px;
}

li.product img {
    display: block;
    margin-bottom: 18px;
}

.woocommerce-loop-product__title {
    font-size: 22px;
    letter-spacing: -0.018em;
    margin: 0;
}

li.product a:hover .woocommerce-loop-product__title {
    text-decoration: underline;
}

li.product .price {
    display: block;
    margin-top: .5rem;
}

li.product .price del {
    color: #99999E;
}

li.product .price ins {
    margin-left: 4px;
    text-decoration: none;
}


/* -------------------------------------------------------------------------------- */
/*	X. Single Product
/* -------------------------------------------------------------------------------- */


/* Single Product Structure ----------------------------- */


.single-product #site-content {
    background: #F9F9FA;
    padding: 0;
}

.single-product .breadcrumbs {
    padding: 30px 0 32px;
}

.product-upper-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.product-lower-wrapper {
    background: #fff;
    padding: 80px 0;
    position: relative;
        left: calc( 50% - 50vw );
    width: 100vw;
}

.product-lower-wrapper .section-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Product Gallery ----------------------------- */


.woocommerce-product-gallery__image:not(:first-child) {
    display: none;
}


/* Product Summary ----------------------------- */


.single-product .summary {
    margin: 0 auto 0 80px;
    max-width: calc( 50% - 40px );
    width: 520px;
}

.single-product .summary h1 {
    font-size: 40px;
    margin: 0;
}

.single-product .product-price-rating {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 20px 0 25px 0;
}

.single-product .product-price-rating .price {
    font-size: 24px;
    font-weight: 500;
}

.single-product .woocommerce-product-rating {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}

.single-product .woocommerce-product-rating:before {
    background: #e1e1e5;
    content: "";
    display: block;
    height: 32px;
    position: absolute;
        left: 0;
        top: calc( 50% - 16px );
    width: 1px;
}

.woocommerce-review-link {
    color: #99999E;
    font-size: 12px;
    margin-left: 6px;
    position: relative;
        top: 0;
}

.single-product .woocommerce-product-details__short-description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.single-product .woocommerce-product-details__short-description p {
    line-height: inherit;
}

.single-product .summary .cart {
    align-items: stretch;
    display: flex;
}

.single-product .summary .cart input[type="number"] {
    margin: 0;
    width: 107px;
}

.single-product .summary .cart .button {
    margin: 0 0 0 20px;
    width: 180px;
}


/* Product Tabs ----------------------------- */

.single-product .woocommerce-tabs {
    max-width: calc( 75% - 40px );
    width: 870px;
}

.single-product .wc-tabs a:hover:after {
    transform: translateX(3px);
}

.single-product .wc-tabs .active a:after {
    opacity: 0;
}


/* Product Sidebar ----------------------------- */

.product-lower-wrapper .sidebar {
    max-width: 25%;
    width: 290px;
}


/* Related Products ----------------------------- */

.products.related {
    margin-top: 80px;
    width: 100%;
}

.products.related > h2 {
    font-family: 'Aktiv Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin: 0 0 20px 0;
}


/* -------------------------------------------------------------------------------- */
/*	X. Checkout
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X. Checkout
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X. Pagination
/* -------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------- */
/*	X. Media Queries
/* -------------------------------------------------------------------------------- */


@media ( max-width: 1100px ) {


    /* Product Archive ----------------------------- */

    ul.products {
        margin: 0 0 -40px -30px;
    }

    ul.products li {
        margin: 0 0 40px 30px;
        width: calc( 33.3% - 30px );
    }


}


@media ( max-width: 800px ) {


    /* Product Archive ----------------------------- */

    ul.products {
        margin: 0 0 -40px -20px;
    }

    ul.products li {
        margin: 0 0 40px 20px;
        width: calc( 33.3% - 20px );
    }

    
}


@media ( max-width: 500px ) {


    /* Product Archive ----------------------------- */

    ul.products {
        margin: 0 0 -30px -10px;
    }

    ul.products li {
        margin: 0 0 30px 10px;
        width: calc( 50% - 10px );
    }

    
}