/* -----------------------------------------------------------------------------------

	WOOCOMMERCE SPECIFIC STYLES

-------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X. Product Archive
/* -------------------------------------------------------------------------------- */


/* Products Header ----------------------------- */

.post-type-archive-product #site-content .section-inner {
    position: relative;
}

.woocommerce-result-count {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 60px;
}

.woocommerce-ordering {
    position: absolute;
        right: 0;
        top: -11px;
    width: 220px;
}


/* Products Grid ----------------------------- */


ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 -60px -40px;
}

.products li {
    margin: 0 0 60px 40px;
    position: relative;
    width: calc( 25% - 40px );
}


/* Product Preview ----------------------------- */


li.product a {
    display: block;
}

li.product a:hover {
    text-decoration: none;
}

.onsale {
    align-items: center;
    background: #111;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    position: absolute;
        right: -10px;
        top: 10px;
    width: 60px;
}

li.product img {
    display: block;
    margin-bottom: 18px;
}

.woocommerce-loop-product__title {
    font-size: 22px;
    letter-spacing: -0.018em;
    margin: 0;
}

li.product a:hover .woocommerce-loop-product__title {
    text-decoration: underline;
}

li.product .price {
    display: block;
    margin-top: .5rem;
}

li.product .price del {
    color: #999;
}

li.product .price ins {
    margin-left: 4px;
    text-decoration: none;
}


/* -------------------------------------------------------------------------------- */
/*	X. Single Product
/* -------------------------------------------------------------------------------- */


/* Single Product Structure ----------------------------- */


.single-product #site-content {
    background: #F9F9FA;
    padding-bottom: 0;
}

.product-upper-wrapper {
    padding-bottom: 80px;
}

.product-upper-wrapper .section-inner {
    display: flex;
    justify-content: space-between;
}

.product-lower-wrapper {
    background: #fff;
    padding: 80px 0;
    position: relative;
        left: calc( 50% - 50vw );
    width: 100vw;
}


/* -------------------------------------------------------------------------------- */
/*	X. Checkout
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X. Checkout
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X. Pagination
/* -------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------- */
/*	X. Media Queries
/* -------------------------------------------------------------------------------- */


@media ( max-width: 1100px ) {


    /* Product Archive ----------------------------- */

    .products {
        margin: 0 0 -40px -30px;
    }

    .products li {
        margin: 0 0 40px 30px;
        width: calc( 33.3% - 30px );
    }


}


@media ( max-width: 800px ) {


    /* Product Archive ----------------------------- */

    .products {
        margin: 0 0 -40px -20px;
    }

    .products li {
        margin: 0 0 40px 20px;
        width: calc( 33.3% - 20px );
    }

    
}


@media ( max-width: 500px ) {


    /* Product Archive ----------------------------- */

    .products {
        margin: 0 0 -30px -10px;
    }

    .products li {
        margin: 0 0 30px 10px;
        width: calc( 50% - 10px );
    }

    
}